<!--<div dir="rtl">
  <h1></h1>

  <p>מסך לביצוע הוצאה של חוברות מכרזים</p>

   <div dir="rtl" [innerHTML]="sectionToDisplay.SectionBody | safeHtml"></div>
  <p></p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div [ngClass]="cClasses">
    <button class="btn btn primary" (click)="GetData()">חוברת מכרז - הצגת נתונים</button>

    <input [(ngModel)]="tenderId" /> = מספר מכרז
    <button *ngIf="DisplayExportButton" class="btn btn primary" (click)="SendData()">חוברת מכרז - הוצאה לקובץ </button>

  </div>

</div>-->

<div class="jumbotron">
  <h1>חוברת מכרז</h1>
  <h3>מסך לביצוע הוצאה של חוברות מכרזים</h3>


  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">שמירה של חוברת מכרז מספר : </label>
      <input class="form-text" type="number" name="tenderNumber" [(ngModel)]="tenderId">

      <small class="form-text text-muted">הקלד כאן מספר מכרז המבוקש</small>
    </div>
     
    <div [class.centered]="cClasses != null">
      <button (click)="GetData()" class="btn btn-primary">הצגת נתונים</button>
     <!--  <button *ngIf="DisplayExportButton" class="btn btn-primary" (click)="SendData()"> הוצאה לקובץ </button>  
      <button *ngIf="DisplayExportButton" class="btn btn-primary" (click)="SendDataToController()"> SEND TO CONTROLLER </button>
      <button *ngIf="DisplayExportButton" class="btn btn-primary" (click)="SendPostObjToController()"> SEND OBJ TO CONTROLLER </button>
      <button *ngIf="DisplayExportButton" class="btn btn-primary" (click)="SendPut()"> SEND PUT </button>
    -->
      <button *ngIf="DisplayExportButton" class="btn btn-primary" (click)="SendPostObjToWEBAPI()">  הוצאה לקובץ </button>
      <div>
        <span *ngIf="LinkToFile != null">לחץ להורדת הקובץ: </span>
        <a target="_blank" [href]="LinkToFile | safeurl">{{LinkToFile}}</a>
      </div>



    </div> <div class="form-group">


    </div>


  </form>
</div>
<br />
<div *ngIf="DisplayData" class="jumbotron">
  <div id="output" [innerHTML]="sectionToDisplay.SectionBody | safeHtml"></div>


</div>
