.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.s12 {
  font: 12px David, serif;
}

.s14 {
  font: bold 14px/30px David, serif;
}

.s16 {
  font: bold 16px David, serif;
  text-align: center;
}
.s16u {
  font: bold 14px David, serif;
  text-align: right;
  text-decoration: underline;
}
.s22 {
}
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
ol > li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-left: 0.6em;
}

li ol > li {
  margin: 0;
}
li ol > li:before {
    content: counters(item, ".") " ";
}
.centered {
  text-align: center;text-decoration:dashed;
}
