<div class="StripFooter">
    <footer>
      <div class="container" style="border-top: 1px solid;">
        <div class="row">
          <div class="col-md-9 col-lg-9">
            <div class="copyRights"> כל הזכויות שמורות למדינת ישראל 2021 © </div>
          </div>
          <div class="col-md-3 col-lg-3">
            <div class="footerInfo">
              <ul class="list-inline">
                <li>
                  <div><a style="cursor: pointer;">משרד הבינוי והשיכון גרסה: {{appVersion}}</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>