<div class="mt-2 container">
  <div class="row">
    <div class="col col-lg-12">

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h2 style="float: right;">רשימת תבניות</h2>
            <div data-bs-toggle="modal" data-bs-target="#dialogModal" class="badge BasicBtn btn btn-primary"
              style="margin-right: 15px !important; margin-top: 11px;">
              <span>חדש +</span>
            </div>
            <div class="modal fade" id="dialogModal" tabindex="-1" aria-labelledby="dialogModalLabel">
              <div class="modal-dialog modal-dialog-scrollable  modal-xl">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="">
                      <div class="row">
                        <div class="col col-lg-1 pull-right headerTitle">&nbsp;</div>
                        <div class="col col-lg-6">
                          <div class="row">
                            <div class="col col-lg-6">
                              <input type="text" style="float: right; width: 210px;" class="form-control" placeholder="שם תבנית"
                                aria-label="ConditionText" [(ngModel)]="NameNewTemplate">
                            </div>
                            <div class="col col-lg-6">
                              <button type="button" class="btn btn-success btn-sm shadow-none m-1" data-bs-dismiss="modal" aria-label="Close" (click)="addNewTemplate()">צור תבנית</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col">
            <div *ngIf="HttpGeneralService.isMenahel != undefined">
              <kendo-grid [data]="TemplatesHomegridView" 
              [sortable]="true"
              [pageable]="true" 
              [filterable]="true" 
              [scrollable]="'none'" 
              [pageSize]="pageSize" 
              [skip]="skip"
              [sort]="state.sort"
              (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)" style="direction: rtl;">

                <kendo-grid-column field="Title" title="שם תבנית" width="550">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div>
                      <span><a title="{{dataItem.Title}}" class="pointer linky"
                          (click)="onClickEdit(dataItem.Id)">{{dataItem.Title }}</a></span>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="תאריך עדכון" width="100" filter="date" format="{0:d}" field="UpdatedDate">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div>
                      <span>{{dataItem.UpdatedBy}}</span>
                      <span>{{dataItem.UpdatedDate | date: 'dd/MM/yyyy, HH:mm'}}</span>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="פעולה" width="90">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div>
                      <a class="pointer" (click)="SaveToFile(dataItem.Id);"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg></a>
                      | 
                      <a class="pointer" (click)="duplicateRows(dataItem.Id);"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                          height="30" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                          <path
                            d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
                          <path
                            d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                        </svg></a>
                         | 
                        <a class="pointer" (click)="deleteRow(dataItem.Id);"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                          height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg></a>
                     
                     
                      
                      </div>
                  </ng-template>
                </kendo-grid-column>
               

              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row top-buffer" style="margin-top: 20px;"></div>